@model PuntoDeVentaWeb.Models.PurchaseViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="container">
    <div class="row">
        <div class="col-6">
            @{
                if (TempData["ErrorMessage"] != null) {
                    <div class="alert alert-danger" role="alert">
                        <p>@TempData["ErrorMessage"]</p>
                    </div>
                }
            }
            <form asp-action="Edit">
                <h4>Purchase</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Purchase.Id" />
                <div class="form-group">
                    <label asp-for="Purchase.Total" class="control-label"></label>
                    <input asp-for="Purchase.Total" class="form-control" id="total-input" />
                    <span asp-validation-for="Purchase.Total" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Purchase.Date" class="control-label"></label>
                    <input asp-for="Purchase.Date" class="form-control" />
                    <span asp-validation-for="Purchase.Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Purchase.SupplierId" class="control-label"></label>
                    <select asp-for="Purchase.SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
                    <span asp-validation-for="Purchase.SupplierId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Purchase.UserId" class="control-label"></label>
                    <select asp-for="Purchase.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                    <span asp-validation-for="Purchase.UserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Purchase.PaymentMethodId" class="control-label"></label>
                    <select asp-for="Purchase.PaymentMethodId" class="form-control" asp-items="ViewBag.PaymentMethodsId"></select>
                    <span asp-validation-for="Purchase.PaymentMethodId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
    <a asp-controller="PurchaseDetail" asp-action="Index" asp-route-purchaseId="@Model.Purchase.Id">Purchase Details</a> 
</div>
