@model PuntoDeVentaWeb.Models.ChangePasswordViewModel

<form asp-action="ChangePassword" method="post">
    <div class="row g-3">
        <div class="col-md-4">
            <label asp-for="OldPassword" class="form-label"></label>
            <input asp-for="OldPassword" type="password" class="form-control">
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        
        <div class="col-md-4">
            <label asp-for="NewPassword" class="form-label"></label>
            <input asp-for="NewPassword" type="password" class="form-control">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        
        <div class="col-md-4">
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <input asp-for="ConfirmPassword" type="password" class="form-control">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-md-12 mb-3 alert alert-secondary" role="alert">
            Password requeriments:
            <ul class="mb-0">
                <li><p>At least 1 digit (0-9)</p></li>
                <li><p>At least 1 lowercase letter (a-z)</p></li>
                <li><p>At least 1 uppercase letter (A-Z)</p></li>
                <li><p>@Html.Raw("At least 1 non-alphanumeric character (e.g. -._@%!¡¿?)")</p></li>
                <li><p>At least 6 characters</p></li>
                <li><p>At least 1 unique character</p></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-outline-primary">
                <i class="bi bi-arrow-repeat"></i> Actualizar contraseña
            </button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
