@model PuntoDeVentaWeb.Models.ChangePasswordViewModel

<form asp-action="ChangePassword" method="post">
    <div class="row g-3">
        <div class="col-md-4">
            <label asp-for="OldPassword" class="form-label"></label>
            <input asp-for="OldPassword" type="password" class="form-control">
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        
        <div class="col-md-4">
            <label asp-for="NewPassword" class="form-label"></label>
            <input asp-for="NewPassword" type="password" class="form-control">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        
        <div class="col-md-4">
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <input asp-for="ConfirmPassword" type="password" class="form-control">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        
        <div class="col-12">
            <button type="submit" class="btn btn-outline-primary">
                <i class="bi bi-arrow-repeat"></i> Actualizar contraseña
            </button>
        </div>
    </div>
</form>