@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>PointOfSales!</h1>
    <p>Welcome @ViewData["User"]!</p>
</div>
<div class="text-center">
    <p>This is a simple web application built with ASP.NET Core MVC.</p>
    <p>Use the navigation menu to explore the application.</p>
</div>